.admin-h1{
    margin-top: 2pc;
    margin-left: 8pc;
    font-size: 26px;
}

.count-h1{
    margin-top:3pc;
    font-size: 55px;
}

.class-h1{
    display: flex;
    justify-content: center;
}

.pie-chart-div{
    width: 60%;
    margin-top: 12pc;
    height: 600px;
    margin-left: 35pc;
}

.pie-chart-div  h2{
    margin-right:20pc;
    font-size: 55px;
}

.pie-chart{
    margin-left: 0pc;
    margin-top: 2pc;
}


.dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    padding: 40px;
    color: #333;
  }
  
  .dashboard-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #2e3b4e;
  }
  
  .dashboard-stats {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-left: 23pc;
    width: 60%;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 4pc;
  }
  
  .stat-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
  }
  
  .stat-card:hover {
    transform: translateY(-10px);
  }
  
  .stat-card h3 {
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .stat-card p {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .dashboard-actions {
    text-align: center;
    margin-bottom: 100px;
    margin-left:5pc;
  }
  
  .cta-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .recent-activities {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .recent-activities h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2e3b4e;
  }
  
  .recent-activities ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recent-activities li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .recent-activities li span {
    font-weight: bold;
    color: #28a745;
  }
  
  .recent-activities li:last-child {
    margin-bottom: 0;
  }
  
  .recent-activities li:hover {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }