/* src/css/ProductList.css */
.product-list {
    width: 60%;
    margin-left: 2    5pc;
    padding: 20px;
  }
  
  .product-element {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  .product-item {
    flex: 0 0 250px;
    box-sizing: border-box;
    border: 10px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: #f9f9f9;
  }
  
  .product-item h3 {
    margin: 0 0 10px;
  }
  
  .product-item p {
    margin: 5px 0;
  }
  
  .discounted-price {
    color: red;
    font-weight: bold;
  }
  

form {
    width: 60%;
    margin-left: 8pc;
    margin-top: 1pc;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
 
  button[type="submit"] {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  