.register-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #eef2ff, #e0e7ff);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.register-card {
  width: 900px;
  min-height: 520px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  border-radius: 18px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  animation: fadeIn 0.5s ease;
}

.register-left {
  flex: 1; 
  background: url("../../public/images/loginpagebg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 0 0 20px;
}

.register-right {
  flex: 1;
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(6px);
}

.register-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.register-title {
  font-size: 32px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 30px;
}

.error-box {
  background: #ffe0e0;
  color: #b30000;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 15px;
  border-left: 4px solid #ff4d4d;
}

.sucesss-box {
  background: #ffe0e0;
  color: green;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 15px;
  border-left: 4px solid green;
}


.register-form{
    margin-top: 1pc;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register-form label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #334155;
  margin-top: 15px;
  display: block;
}

.register-form input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 2px solid #d1d5db;
  font-size: 15px;
  outline: none;
  transition: 0.2s ease;
}

.register-form input:focus {
  border-color: #6366f1;
  box-shadow: 0px 0px 0px 3px rgba(99, 102, 241, 0.2);
}

.register-btn {
  width: 100%;
  padding: 14px;
  background: #4f46e5;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.2s ease;
}

.register-btn:hover {
  background: #4338ca;
}

.login-text {
  margin-top: 18px;
  color: #475569;
}

.login-link {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 600;
}

.home-link {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 600;
}

.home-link:hover{
  text-decoration: underline;
}

.login-link:hover {
  text-decoration: underline;
}

@media (max-width: 820px) {
  .register-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .register-left {
    height: 200px;
  }
}
