.sale-button{
    font-size: 23px;
    width: 90px;
    border-radius: 9px;
    background-color: #6880a5;
    color: white;
    transition: 0.3s;
    font-family: cursive;
}

.sale-button:hover{
    width: 100px;
    transform:translateX(2);
}